cover_letter.txt
cover_letter.tex
cover_letter.pdf
declaration_of_interests.txt
manuscriptNotes.bib
__pycache__/

# LaTeX build artifacts
*.aux
*.log
*.out
*.blg
*.spl
*.synctex.gz
*.fls
*.fdb_latexmk
*.toc
*.lof
*.lot
manuscript.pdf
response_to_reviewers.pdf
*.zip
